$fonts-dir : "/assets/fonts";

$color-primary : #2b2b2b;
$color-secondary : #0083b5;

/** text **/
$font-primary : 'latolight';
$font-secondary : 'latoregular';
$font-header : 'Avenir Bold';

$font-color-primary: #414141;//$color-primary;
$font-color-secondary: #2b2b2b;//#fff;

/** links **/
$link-color-primary: $font-color-primary;
$link-color-hover: $color-secondary;

$color-background-primary : #f6f6f6;